upstream backend-grafana {
  server grafana:3000;
}

server {
  listen *:80;
  server_name  grafana.FULLY_QUALIFIED_DOMAIN_NAME;
  access_log   /var/log/nginx/access_grafana.log main;
  location / {
     proxy_pass http://backend-grafana;
  }
}

