upstream backend-chronograf {
  server chronograf:8888;
}

server {
  listen *:80;
  server_name  chronograf.FULLY_QUALIFIED_DOMAIN_NAME;
  access_log   /var/log/nginx/access_chronograf.log main;
  location / {
     proxy_pass http://backend-chronograf;
  }
}

